.wrapper {
	flex-flow: column;
	min-height: 100vh;
	padding-bottom: 0.5rem;
	background:#20222b
}

.top {
	flex-grow: 100!important;
	flex-flow: column;
}

.topInner {
	flex-grow: 100!important;
	flex-flow: column;
	padding: 0 0.5rem;
}

img{
	display: block;
	width: 80%;
}

@media screen and (min-width: 769px) {
	.wrapper {
		width: 1024px!important;
		margin: 0 auto!important;
		padding: 0.5rem; 
	}

	.topInner {	
		padding: 0;
	}
}

